Package: pdfveil
Version: 0.1.0-1
Architecture: all
Maintainer: Saku0512 <comonraven113@gmail.com>
Installed-Size: 98
Depends: python3-pypdf, python3-cryptography (= 43.0.0-1), python3-colorama
Section: utils
Priority: optional
Homepage: https://github.com/Saku0512/pdfveil
Description: A CLI tool for encrypting and decrypting PDF files
 This tool allows you to encrypt and decrypt PDF files from the command line.
